.site-name {
  font-family: 'ArmyRust';
  font-size: 2rem;
  padding-left: 1rem;
  letter-spacing: 0.15rem; }

.brand {
  display: flex;
  align-items: center; }

.logo {
  max-height: 50px; }

.text {
  font-size: 1.2rem;
  margin-left: 10px; }

.navbar-toggler {
  background-color: #fff !important; }

.nav-color::before,
.nav-color::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #7B6C9E; }

.nav-color::before {
  transform: skewY(-12deg); }

.nav-color::after {
  transform: skewY(12deg); }
